In [1]:
import VESIcal as v
import Thermobar as pt

c:\Users\charl\anaconda3\envs\py3115\Lib\site-packages\VESIcal\calculate_classes.py:7: UserWarning:

 WARNING: Thermoengine is not installed. MagmaSat model will not function. A model name must be given when performing any calculation as model='some-model-name'.
  from VESIcal.models import magmasat

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [3]:
import multiprocessing

In [6]:
out=pt.import_excel('MI_compilation_XH2O.xlsx', sheet_name="Bali_Holohraun2014-15_2018")
my_input=out['my_input']
myOls=out['Ols']
myLiquids1=out['Liqs']

## Lets check the outputs have loaded right
display(myOls.head())
display(myLiquids1.head())

,SiO2_Ol,TiO2_Ol,Al2O3_Ol,FeOt_Ol,MnO_Ol,MgO_Ol,CaO_Ol,Na2O_Ol,K2O_Ol,Cr2O3_Ol,NiO_Ol,Sample_ID_Ol
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Bali_2018_Holohraun_1
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Bali_2018_Holohraun_2
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Bali_2018_Holohraun_3
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Bali_2018_Holohraun_4
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Bali_2018_Holohraun_5

,SiO2_Liq,TiO2_Liq,Al2O3_Liq,FeOt_Liq,MnO_Liq,MgO_Liq,CaO_Liq,Na2O_Liq,K2O_Liq,Cr2O3_Liq,P2O5_Liq,H2O_Liq,Fe3Fet_Liq,NiO_Liq,CoO_Liq,CO2_Liq,Sample_ID_Liq
0,49.5551,1.999709,13.45010,13.569130,0.233964,6.163391,11.14230,2.46200,0.247106,0.021049,0.137950,0.06790,0.0,0.000000,0.0,0.002328,Bali_2018_Holohraun_1
1,48.8914,1.941204,13.47300,14.000962,0.236328,6.456140,11.45715,2.29605,0.205395,0.014378,0.226211,0.07720,0.0,0.017466,0.0,0.019493,Bali_2018_Holohraun_2
2,49.3044,1.824231,13.68435,13.306001,0.250050,6.560064,11.39425,2.51540,0.213113,0.013413,0.183380,0.16405,0.0,0.024897,0.0,0.025765,Bali_2018_Holohraun_3
3,49.9440,1.834000,13.32000,12.576820,0.207592,6.395452,11.22520,2.56000,0.278156,0.013640,0.158312,0.17600,0.0,0.000000,0.0,0.026488,Bali_2018_Holohraun_4
4,50.4000,1.920000,14.01000,11.289640,0.220000,6.920000,11.69000,2.38000,0.240000,0.001260,0.240000,0.45600,0.0,0.028665,0.0,0.027455,Bali_2018_Holohraun_5

In [7]:
T_HT87=pt.calculate_liq_only_temp(liq_comps=myLiquids1, equationT="T_Helz1987_CaO")
df_HT87=pt.convert_to_vesical(liq_comps=myLiquids1,
                              T1=T_HT87, unit='Kelvin', Fe3Fet_Liq=0.15)
df_HT87.head()

,SiO2,TiO2,Al2O3,MnO,MgO,CaO,Na2O,K2O,Cr2O3,P2O5,H2O,NiO,CoO,CO2,Sample_ID,Temp,FeO,Fe2O3
0,49.5551,1.999709,13.45010,0.233964,6.163391,11.14230,2.46200,0.247106,0.021049,0.137950,0.06790,0.000000,0.0,0.002328,Bali_2018_Holohraun_1,1152.96218,11.533760,2.261521
1,48.8914,1.941204,13.47300,0.236328,6.456140,11.45715,2.29605,0.205395,0.014378,0.226211,0.07720,0.017466,0.0,0.019493,Bali_2018_Holohraun_2,1158.18869,11.900818,2.333493
2,49.3044,1.824231,13.68435,0.250050,6.560064,11.39425,2.51540,0.213113,0.013413,0.183380,0.16405,0.024897,0.0,0.025765,Bali_2018_Holohraun_3,1157.14455,11.310101,2.217667
3,49.9440,1.834000,13.32000,0.207592,6.395452,11.22520,2.56000,0.278156,0.013640,0.158312,0.17600,0.000000,0.0,0.026488,Bali_2018_Holohraun_4,1154.33832,10.690297,2.096136
4,50.4000,1.920000,14.01000,0.220000,6.920000,11.69000,2.38000,0.240000,0.001260,0.240000,0.45600,0.028665,0.0,0.027455,Bali_2018_Holohraun_5,1162.05400,9.596194,1.881606

In [8]:
VESIcal_out=v.BatchFile(filename=None, dataframe=df_HT87, label='Sample_ID')
VESIcal_out.data

,SiO2,TiO2,Al2O3,MnO,MgO,CaO,Na2O,K2O,Cr2O3,P2O5,H2O,NiO,CoO,CO2,Temp,FeO,Fe2O3
Bali_2018_Holohraun_1,49.55510,1.999709,13.45010,0.233964,6.163391,11.14230,2.462000,0.247106,0.021049,0.137950,0.06790,0.000000,0.0,0.002328,1152.96218,11.533760,2.261521
Bali_2018_Holohraun_2,48.89140,1.941204,13.47300,0.236328,6.456140,11.45715,2.296050,0.205395,0.014378,0.226211,0.07720,0.017466,0.0,0.019493,1158.18869,11.900818,2.333493
Bali_2018_Holohraun_3,49.30440,1.824231,13.68435,0.250050,6.560064,11.39425,2.515400,0.213113,0.013413,0.183380,0.16405,0.024897,0.0,0.025765,1157.14455,11.310101,2.217667
Bali_2018_Holohraun_4,49.94400,1.834000,13.32000,0.207592,6.395452,11.22520,2.560000,0.278156,0.013640,0.158312,0.17600,0.000000,0.0,0.026488,1154.33832,10.690297,2.096136
Bali_2018_Holohraun_5,50.40000,1.920000,14.01000,0.220000,6.920000,11.69000,2.380000,0.240000,0.001260,0.240000,0.45600,0.028665,0.0,0.027455,1162.05400,9.596194,1.881606
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Bali_2018_Holohraun_94,49.21720,0.574492,16.11880,0.162196,9.623860,12.88560,1.815588,0.102960,0.024112,0.078848,0.51040,0.005456,0.0,0.148896,1181.90096,6.474117,1.269435
Bali_2018_Holohraun_95,49.04225,0.668498,15.55850,0.179880,8.430400,13.51350,1.892210,0.119745,0.046343,0.039220,0.19425,0.004070,0.0,0.151330,1192.32410,8.559532,1.678339
Bali_2018_Holohraun_96,49.00350,1.033895,14.70050,0.216705,8.066635,12.15750,1.903320,0.218450,0.032810,0.086250,0.49300,0.014535,0.0,0.157590,1169.81450,9.101655,1.784638
Bali_2018_Holohraun_97,48.70740,1.502398,13.96120,0.193338,7.211134,12.26340,2.107400,0.176676,0.028858,0.158484,0.45120,0.000000,0.0,0.163654,1171.57244,10.202207,2.000432
Bali_2018_Holohraun_98,48.97945,1.302263,14.35340,0.233021,6.968559,11.99705,1.983450,0.212124,0.032391,0.139919,0.44250,0.009469,0.0,0.391435,1167.15103,10.426947,2.044499

In [12]:
df= VESIcal_out.get_data()
chunk_size = 25
subframes = [v.BatchFile(filename=None,dataframe=df.iloc[i:i+chunk_size],label=None) for i in range(0, len(df), chunk_size)]

In [14]:
for index, data in enumerate(subframes):
        Sat_P_MagmaSat = data.calculate_saturation_pressure(temperature="Temp")
        filename = f"XH2O_Bali2018_Holohraun14-15_{index}.xlsx"
        Sat_P_MagmaSat.to_excel(excel_writer=filename)

[====================] 100%  Working on sample Bali_2018_Holohraun_25
[====================] 100%  Working on sample Bali_2018_Holohraun_50
[====================] 100%  Working on sample Bali_2018_Holohraun_75
[====================] 100%  Working on sample Bali_2018_Holohraun_98

In [17]:
import os
combined_data = pd.DataFrame()

for index in range(len(subframes)):
    filename = f"XH2O_Bali2018_Holohraun14-15_{index}.xlsx"
    if os.path.exists(filename):
        df = pd.read_excel(filename)
        combined_data = pd.concat([combined_data, df])

combined_filename = "XH2O_Bali2018_Holohraun14-15_combined.xlsx"
combined_data.to_excel(combined_filename, index=False)